{% extends "base.html" %}

{% block title %}garrys mod server{% endblock %}
{% block desc %}some server info and linkls to addons for my gmod server{% endblock %}

{% block background %}gmod.png{% endblock %}

{% block content %}

	<h1>my gmod server</h1>
	
	<a href="https://www.gametracker.com/server_info/play.elisttm.space:27015/" target="_blank"><img src="https://cache.gametracker.com/server_info/73.207.108.187:27015/b_350_20_323957_202743_ffffff_000000.png" width="350" height="20" alt=""/></a>
    <a href="https://www.gametracker.com/server_info/play.elisttm.space:27022/" target="_blank"><img src="https://cache.gametracker.com/server_info/73.207.108.187:27022/b_350_20_323957_202743_ffffff_000000.png" width="350" height="20" alt=""/></a>	
	
	<br><br>

	<a class="button" href="steam://connect/73.207.108.187:27015">connect to main server</a>
	<br><a class="button" href="steam://connect/73.207.108.187:27022/chungus">connect to sandbox server</a>

	<p>this server runs ttt, prophunt and deathrun. you can use "!rtv" to switch between maps and gamemodes</p>

	<p><b>these maps and addons are required to play!</b></p>

		<a class="button" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2084328429">sandbox content</a>
		<a class="button" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2085165984">gamemodes</a>
		<a class="button" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2169587352">map collection</a>

	<br><br>
	
	<a class="button" href="https://drive.google.com/drive/folders/1q33The-FozHhm1XjyVjEaOHkocPepaV8?usp=sharing">counterstrike source patch</a>

{% endblock %}