{% extends "base.html" %}

{% block title %}my gmod servers{% endblock %}
{% block desc %}info related to my gmod servers{% endblock %}

{% block background %}gmod.png{% endblock %}

{% block content %}

	<h1>my gmod servers</h1>
	
	<div class="servers">
		<a href="/connect/gmod"><img src="/static/img/servers/banner-gmod.gif?{{time}}" width="330" height="31"/></a>
		<a href="/connect/sandbox"><img src="/static/img/servers/banner-sandbox.gif?{{time}}" width="330" height="31"/></a>
	</div>

	<p>these servers run 24/7, one on sandbox 24/7 and the other on a collection of other gamemodes (ttt2, prophunt, hl2dm, deathrun, cinema, etc)
	<br>you can switch the map and/or gamemode with !rtv</p>
	
	<p><b>these addons are required to play!</b></p>

		<a class="btn" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2085165984">gamemode addons</a>
		<a class="btn" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2084328429">sandbox addons</a>

	<p>(optional) <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3363234147">cs:s/hls/hl2dm/etc asset pack</a></p>

{% endblock %}