{% extends "base.html" %}

{% block title %}garrys mod server{% endblock %}
{% block desc %}some server info and linkls to addons for my gmod server{% endblock %}

{% block background %}gmod.png{% endblock %}

{% block content %}

	<h1>my gmod server</h1>
	
	<br><a href="steam://connect/73.207.108.187:27015"><img src="static/img/servers/banner-gmod.png?{{br}}" width="330" height="31"/></a>
    <br><a href="steam://connect/73.207.108.187:27017/chungus"><img src="static/img/servers/banner-sandbox.png?{{br}}" width="330" height="31"/></a>
	
	<br><br>

	<p>both of these servers run 24/7, one exclusively runs sandbox and the other runs everything other than sandbox (ttt, prophunt, etc).</p>
	<p>!rtv can be used to switch the current gamemode and map</p>

	<p><b>these maps and addons are required to play!</b></p>

		<a class="button" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2084328429">sandbox content</a>
		<a class="button" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2085165984">gamemodes</a>
		<a class="button" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2169587352">map collection</a>

	<br><br>
	
	<a class="button" href="https://drive.google.com/drive/folders/1q33The-FozHhm1XjyVjEaOHkocPepaV8?usp=sharing">counterstrike source patch</a>

{% endblock %}