{% extends "base.html" %}

{% block title %}team fortress 2 server{% endblock %}
{% block desc %}a bit of basic server info for my tf2 server{% endblock %}

{% block background %}tf2.png{% endblock %}

{% block content %}

	<h1>my tf2 server</h1>
	
    <a href="https://www.gametracker.com/server_info/73.207.108.187:27015/" target="_blank"><img src="https://cache.gametracker.com/server_info/73.207.108.187:27016/b_350_20_473a1f_171208_ffffff_000000.png" width="350" height="20" alt=""/></a>
    <br>
	
	<br><a class="button" href="steam://connect/73.207.108.187:27016">click here to connect</a>
	
    <p>this server runs 24/7 and is usually on hightower</p>
    <p>!nominate and !rtv for map switches are supported</p>

	

{% endblock %}