{% extends "base.html" %}

{% block title %}my tf2 server{% endblock %}
{% block desc %}info related to my tf2 server(s){% endblock %}

{% block background %}tf2.png{% endblock %}

{% block content %}

	<h1>my tf2 server</h1>
	
    <div class="servers">
        <a href=href="/connect/tf2"><img src="/static/img/servers/banner-tf2.gif?{{time}}" width="330" height="31"/></a>
    </div>
	
    <p>this server runs 24/7, usually on hightower</p>
    <p>!nominate and !rtv for map switches are supported</p>

{% endblock %}