<!DOCTYPE html>
<html lang="en-US"><head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {text-align: center; font-family: monospace; margin-top: 5vh}
		* {color: #fff}
	</style>
</head>
<body style="background: #000 url('static/img/bg/stars3.gif')">
	<h1>welcome to my server :3</h1>
	<h2>visit <a href="/servers">elisttm.space/servers</a> for more info!</h2><br>
	<img src="/static/img/silly/hamster.gif" style="width:auto; height:60vh; margin:0 auto;">
</body></html>
