{% extends "base.html" %}

{% block meta_robots %}noindex, follow{% endblock %}
{% block title %}{{ e[0] }}{% endblock %}
{% block og_title %}{{ e[0] }}{% endblock %}
{% block og_desc %}{{ e[1] }}{% endblock %}
{% block background %}skeletons.jpg{% endblock %}

{% block content %}

	<div style="margin-top:16px;">
		<h1>{{ e[0] }}</h1>
		<h3>{{ e[1] }}</h3>
		<br>
		<img src="/static/media/silly/ghost1.gif" alt="ghost" title="AAAHHHHH BOOOO WAAARRHHGHH"/>
		<img src="/static/media/silly/ghost1.gif" alt="ghost" title="BOOOO IM A GHOST BOO SCARY"/>
		<img src="/static/media/silly/ghost1.gif" alt="ghost" title="BOOOO BOO WWAWAGAGAGAGAWGAWGAG"/>
	<div>

{% endblock %}