{% extends "base.html" %}

{% block title %}gmod server{% endblock %}
{% block desc %}helpful links and such for my private garrys mod server{% endblock %}

{% block background %}gmod.png{% endblock %}

{% block content %}

	<h1>my gmod server</h1>

	<a class="button" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2084328429">sandbox addons</a>
	<a class="button" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2085165984">general gamemode addons</a>
	
	<br>

	<a class="button" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2169587352">ttt maps</a>
	<a class="button" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2821678711">prophunt maps</a>
	<a class="button" href="https://steamcommunity.com/sharedfiles/filedetails/?id=712691130">deathrun maps</a>

	<br><br>

	<p>click here to automatically connect to the server (given its online)</p>
	<a class="button" href="steam://connect/play.elisttm.space/chungus">steam connect shortcut</a>

{% endblock %}