{% extends "base.html" %}

{% block title %}gmod{% endblock %}
{% block og_title %}gmod server{% endblock %}
{% block og_desc %}workshop links and connect shortcut for my gmod server{% endblock %}

{% block background %}gmod.png{% endblock %}

{% block content %}

<h1>my gmod server</h1>

<p>
	<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2084328429">sandbox addons</a><br>
	<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2085165984">other gamemode addons (ttt, prophunt, etc)</a><br>
	<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2169587352">maps</a>
</p>

<br>

<p>click here to automatically connect to the server (given its online)</p>
<a class="button" href="steam://connect/play.elisttm.space/chungus">steam connect shortcut</a>

{% endblock %}