<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {background-color: #000; color: #fff; background-image: url('static/media/backgrounds/starsforever.gif'); text-align: center; font-family: 'Monospace', monospace;}
		img {width: 600px; height: 480px; margin: 0 auto;}
	</style>
</head><body>
	<img src="/static/media/hamster.gif" width="600" height="480">
</body></html>
