<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head><body style="background-color: #000; color: #fff; background-image: url('static/media/backgrounds/starsforever.gif'); text-align: center; font-family: 'Monospace', monospace;">
	<p>welcome to my awesome server...........<p>
	<img src="/static/media/silly/hamster.gif" width="600" height="480" style="width: 600px; height: 480px; margin: 0 auto;">
</body></html>
