::selection {color: #000; background: #ffaec9;}
:root {cursor: url('/static/img/cursor-default.gif'), auto;}

body {font-family: sans-serif; text-align: center; color: #fff; padding: 0; margin: 0 auto; width: 600px;}

.header, nav, .main {margin: 4px 0; overflow: hidden;}
nav {display: flex; gap: 4px;}
nav > a {font-family: "Trebuchet MS"; padding: 8px; flex-basis: 20%; text-decoration: none; font-weight: bold; overflow: hidden;}
nav > a:hover, nav > a:active {background-color: #000;}
.main, nav > a {background-color: rgba(0,0,0,0.8); border: 4px outset #fff;}
.main {padding: 16px 0 24px;}

h1, h2, h3 {font-family: monospace}
h1, h2, h3, p {margin: 16px 64px 16px;}
p {text-align: justify; text-align-last: center; word-spacing: 1px;}
p br {display: block; margin-top: 8px; content: ""}
a {color: inherit; text-decoration: underline; cursor: url('/static/img/cursor-pointer.gif'), pointer;}

ul, ol {display: inline-block; text-align: left; max-width: 80%}
li {margin-bottom: 16px;}

img {max-height: 100%; max-width: 100%; image-rendering: pixelated;}
.main img {margin: 1px 0; border: 0;}
img, span, .inline {display: inline-block; vertical-align: middle;}

.btn {display: inline-block; border: 4px outset #bbb; background-color: #ddd; color: #000; font-size: 0.9em; text-decoration: none; padding: 4px; margin: 8px 2px}
.btn > img {margin: 0}
.btn:hover, nav > a:hover {border-style: inset}


.socials {margin: 8px 0;}
.socials span {width: 31px; height: 31px; margin: 16px 1px;}
.socials img {width: 88px; height: 31px; margin: 2px 1px;}

.servers {margin: 24px 0;}
.servers > * {display: block;}

.socials > a > *:hover, .servers > a > *:hover {margin: 0px; border: 1px solid #fff;}

@media screen and (max-width: 600px) {
	body {width: 100vw;}
	header, nav, .main {margin: 4px}
	nav {flex-wrap: wrap;}
	nav > a {flex-basis: 25%; flex-grow: 1; padding: 6px 2px}
	nav > a:first-child, nav > a:first-child+a {flex-basis: 40%;}
	h1, h2, h3, p {margin-left: 32px; margin-right: 32px;}
	.mb {display: block;} .mv {display: none;}
}