@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

::selection {color: black; background: #ffaec9;}

html {cursor: url('/static/media/cursor/cursorA.cur'), auto;}
a, button {cursor: url('/static/media/cursor/cursorB.cur'), auto;}

body {
  font-family:'Lato', sans-serif; text-align: center;
	background-color: #000; color: #fff;
	padding: 4px 0; margin: 0 auto; width: 600px;;
}

header > img {width: 450px; height: auto; margin: 0px auto 4px;}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

main {padding: 16px 12px;}
main > * {animation: fadein 1s;}

nav {display: flex; padding: 0; gap: 4px;}
nav > a {color: #fff; padding: 10px 4px; flex-grow: 1; flex-basis: 10%; text-decoration: none; font-size: 20px; font-weight: bold; overflow: hidden; transition: 0.5s}
nav > a:hover {background-color: #000; flex-grow: 1.25; transition: 0.1s;}

header, nav, main {margin: 4px 0 0; overflow: hidden;}
main, nav > a {background-color: rgba(0,0,0,0.8); border: 4px outset white;}

h1, h2, h3, nav {font-family: 'Ubuntu Mono', 'Monospace', monospace;}
h1, h2, h3, p {margin: 0 48px 10px;}

p {text-align: justify; text-align-last: center;}
p br {display: block; margin-top: 8px; content: ""}

a {color: #fff; text-decoration: underline} 
a:hover {filter: brightness(80%); transition: 0.1s}

ul {text-align: justify; }

img {max-width: 100%; max-height: 100%; vertical-align: middle;}
main img {margin: 2px 0;}

.social > a img {height: 24px; width: 24px; border: 4px outset; padding: 4px; margin: 2px;}
.social > a img:hover {border-style: inset;}

.button {display: inline-block; border: 4px outset #bbb; background-color: #ddd; color: #000; font-size: 14px; text-decoration: none; padding: 4px; margin: 2px;}
.button:hover {border-style: inset;}



@media screen and (max-width: 600px) {
	body {width: 100vw;}
  header > img {width: 450px;}
	header, nav, main {margin: 4px 4px 0}
	h1, h2, h3, p {margin-left: 8px; margin-right: 8px;}
}