{% extends "base.html" %}

{% block title %}about me{% endblock %}
{% block desc %}a simple about me page about me{% endblock %}

{% block background %}stars.gif{% endblock %}

{% block content %}

	<h1>about me</h1>

	<p>
		hi im eli im 19 and i like computers :3
	<br>
		when im not sleeping or at work or talking to buddies and pals i like to work on silly computer projects
	<br>
		as is obvious from this website (and some others ive made on my own) i have experience in full stack web development including hosting my own homelab debian server on an old gaming pc
	<br>
		i use my aformentioned server for lots of things but it mostly consists of web servers and game servers including the website you are looking at right now
	<br>
		i started doing most of this stuff in like 2019 and have slowly gotten more into everything as time passes
	<br>
		anddd yeah i would put more stuff here but im not really that interesting to talk about so here are some silly gifs
	</p>

	<br><img src="/static/img/silly/novayawn.gif" width="300" height="200" loading="lazy"/>
	<img src="/static/img/silly/gir.gif" width="176" height="176" loading="lazy"/>

{% endblock %}
