{% extends "base.html" %}

{% block title %}about me{% endblock %}
{% block desc %}information about ME!!!{% endblock %}

{% block background %}stars4ever.gif{% endblock %}

{% block content %}

	<h1>about me</h1>

	<p>hi im eli im 19 and i like computers :3
	<br>i enjoy full-stack web development and messing with servers. this website and my <a href="/servers">game servers</a> are hosted from my bedroom on an old pc!
	<br>my other hobbies include sleeping and sometimes drawing. all the drawings you see on this website were made by me unless stated otherwise.
	<br>for those that have to get in contact with me, i go by elisttm on most platforms, including discord! for emails, you may use <a href="mailto:elisttm@gmail.com">elisttm@gmail.com</a>
	</p>

	<img src="/static/img/silly/gir.gif" width="176" height="176" loading="lazy"/>

{% endblock %}
