{% extends "base.html" %}

{% block title %}about me{% endblock %}
{% block desc %}a simple about me page about me{% endblock %}

{% block background %}stars.gif{% endblock %}

{% block content %}

	<h1>about me</h1>

	<p>
		hi im eli im 18 and i like computers :3
	<br>
		when im not sleeping or playing video games with my pals im working on silly projects, some of which are featured here
	<br>
		i have experience in web dev and server management spanning since 2019 and i find doing those things very fun
	<br>
		i dont have much else to say here but you are free to contact me via twitter and such and such
	</p>

	<br><img src="/static/img/silly/novayawn.gif" width="300" height="200" loading="lazy"/>

{% endblock %}
