<!DOCTYPE html>
<html lang="en-US"><head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
	<link rel="preconnect" href="https://fonts.gstatic.com/"/>
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
	<link rel="stylesheet" href="/static/style.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu+Mono&display=swap" rel="stylesheet"/>
	<link rel="icon" href="/static/media/icon.png" type='image/png'/>
	<title>{% block title %}{% endblock %}{% if self.title() %} // {% endif %}elisttm</title>
	<meta name="description" content="hello im niche twitter micro celebrity elisttm and this is my very cool and awesome personal homepage and hub where i put all my silly little things"/>
	<meta name="author" content="elisttm"/>
	<meta name="theme-color" content="#ffaec9"/>
	<meta property="twitter:site" content="@elisttm"/>
	<meta property="twitter:creator" content="@elisttm"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="{{ request.path }}"/>
	<meta property="og:site_name" content="elisttm"/>
	<meta property="og:image" content="/static/media/logo.png"/>
	<meta property="og:title" content="{% block og_title %}eli website{% endblock %}"/>
	<meta property="og:description" content="{% block og_desc %}my awesome and very cool website{% endblock %}"/>
	{%- block extra %}{% endblock %}
</head><body style="background: #000{% if self.background %} url('static/media/backgrounds/{% block background %}{% endblock %}');{% endif %}">

<header>
	<a href="/"><img src="/static/media/banner.png" style="width:450px; height:auto; margin:0px auto 4px;" alt="eli header"/></a>
</header>

<nav>
	<a href="/">home</a>
	<a href="/about">about me</a>
	<a href="/eli">my sona</a>
	<a href="/bot">eli bot</a>
	<a href="/pages">extra</a>
</nav>
	
<main style="padding:16px 12px;">
	{%- block content %}{% endblock %}
</main>

</body></html>

<!--						
	                ,
	              _/((
	     _.---. .'   `\
	   .'      `     ^ T=
	  /     \       .--'
	 |      /       )'-.
	 ; ,   <__..-(   '-.)
	  \ \-.__)    ``--._)
	   '.'-.__.-.
	     '-...-' 
			the creature
-->