<!DOCTYPE html>

<html lang="en-US"><head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="/static/style.css" type="text/css"/>
	<link rel="icon" href="/static/img/favicon.png" type='image/png'/>
	<title>{% block title %}elisttm{% endblock %}</title>
	<meta name="description" content="{% block desc %}my very silly and very cool personal homepage for all my silly little things{% endblock %}"/>
	<meta property="og:description" content="{{ self.desc() }}"/>
	<meta property="og:title" content="{{ self.title() }}{% if not self.title() %}elisttm.space{% endif %}"/>
	<meta property="og:site_name" content="elisttm"/>
	<meta property="og:type" content="website"/>
	<meta name="theme-color" content="#ffaec9"/>
	<meta name="twitter:site" content="@elisttm"/>
	{%- block extra %}{% endblock %}
</head><body style="background:#000{% if self.background %} url('static/img/bg/{% block background %}{% endblock %}');{% endif %}">

<header>
	<a href="/"><img src="/static/img/banner.gif" alt="" width="450"/></a>
</header>
	
<nav>
	<a href="/">home</a>
	<a href="/about">about</a>
	<a href="/eli">eli</a>
	<a href="/servers">servers</a>
	<a href="/pages">pages</a>
</nav>
	
<main>
	{%- block content %}{% endblock %}
</main>

</body></html>

<!--
               ,
             _/((
     .- -. .'    \
  .'      `     * &
 /     \       . -'
|      /       )'-.
; ,   <__..-(   '-.)
 \ \-.__)    ``-._)
  ' `.__.-.
    `-...-'  the creature
-->