{% extends "base.html" %}

{% block title %}sillybot{% endblock %}
{% block desc %}my silly little discord bot{% endblock %}

{% block background %}pyramid.png{% endblock %}

{% block content %}

	<h1>eli bot</h1>

	<p>this is my silly discord bot with features that are only really useful to me at the moment
	<br>NOTE: as it stands now eli bot is super outdated and needs a thorough revamp to function optimally. regardless you are still free to use it in your servers and report any issues</p>

	<a class="button" href="https://discordapp.com/oauth2/authorize?client_id=439166087498825728&scope=bot&permissions=1544416321">invite to server</a><br>
	<a class="button" href="https://bot.elisttm.space/">dashboard</a>
	<a class="button" href="https://github.com/elisttm/sillybot">source code</a>

{% endblock %}