{% extends "base.html" %}

{% block title %}eli{% endblock %}
{% block desc %}reference imagery for my silly sona{% endblock %}

{% block background %}multi175.gif{% endblock %}

{% block extra %}
	<meta property="og:image" content="/static/img/eli/ref.png"/>
	<meta name="twitter:image" content="/static/img/eli/ref.png">
	<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block content %}

<h1>my silly sona</h1>

<img src="/static/img/ref.png" width="600"/>

<p>
	<b>gift art of any kind is always appreciated!!!</b>
	<br>do feel free to contact me via twitter or discord if need be
</p>

{% endblock %}