{% extends "base.html" %}

{% block title %}eli{% endblock %}
{% block desc %}reference imagery for my silly sona{% endblock %}

{% block background %}stardust.gif{% endblock %}

{% block image %}ref.png{% endblock %}

{% block extra %}
	<meta name="twitter:image" content="/static/img/ref.png">
	<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block content %}

	<h1>my silly sona</h1>
	<p>art by ME!!! gift art of any kind is always appreciated :3</p>

	<a href="/static/img/ref.png" download><img src="/static/img/ref2.png" width="600" alt="reference sheet of my fursona, eli"/></a>

	<span style="margin-top: 24px; font-size:0.75em; color: #ffffff80"><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3234200664">background for this page shamelessly ripped from this tf2 warpaint</a></li>


{% endblock %}