{% extends "base.html" %}

{% block title %}eli{% endblock %}
{% block desc %}reference imagery for my silly sona{% endblock %}

{% block background %}stardust.gif{% endblock %}

{% block extra %}
	<meta property="og:image" content="/static/img/ref.png"/>
	<meta name="twitter:image" content="/static/img/ref.png">
	<meta name="twitter:card" content="summary_large_image">
	<!-- background source: https://steamcommunity.com/sharedfiles/filedetails/?id=3234200664 -->
{% endblock %}

{% block content %}

	<h1>my silly sona</h1>
	<p>art by ME!!! gift art of any kind is always appreciated :3</p>

	<a href="/static/img/ref.png"><img src="/static/img/ref-transparent.png" width="600" alt="reference sheet of my fursona, eli"/></a>

{% endblock %}