{% extends "base.html" %}

{% block background %}pyramid.png{% endblock %}
{% block title %}eli bot{% endblock %}
{% block og_title %}eli bot{% endblock %}
{% block og_desc %}my awesome and very cool discord bot{% endblock %}

{% block content %}

<h1>eli bot</h1>

<p>this is my silly little discord bot with some silly little features, ill add a better description later</p>

<a class="button" href="https://discordapp.com/oauth2/authorize?client_id=439166087498825728&scope=bot&permissions=1544416321">invite to server</a>
<a class="button" href="https://bot.elisttm.space/">dashboard</a>
<a class="button" href="https://github.com/elisttm/elibot">source code</a>

{% endblock %}