{% extends "base.html" %}

{% block extra %}
	<style>
		.socials {margin: 4px 32px 0;} .socials span {display: inline-block; width: 31px; height: 31px; margin: 2px;}
		.buttons {margin: 8px 0;} .buttons img {width: 88px; height: 31px; margin: 2px 0;}
		.yesterweb {font-size: 0.8em; margin: 20px 0 0 0;} .yesterweb > a {text-decoration: none; color: limegreen; margin: 0 2px;}
	</style>
{% endblock %}

{% block background %}stars3.gif{% endblock %}

{% block content %}

	<h1>welcome!!!!!!!!</h1>
		<p>hi im eli welcome to my very cool very silly website where you can find my silly little projects and anything else i consider interesting enough to put here
		</p>

	<img src="/static/img/silly/computer.gif" alt="" class="mv" width="100" height="100" loading="lazy"/>

	<div class="inline">
		<div class="socials">
			<a href="https://twitter.com/elisttm"><span style="background:url(/static/img/socials.png) 0 0"></span></a>
			<a href="https://elisttm.tumblr.com"><span style="background:url(/static/img/socials.png) -31px 0"></span></a>
			<a href="https://youtube.com/elisttm"><span style="background:url(/static/img/socials.png) -62px 0"></span></a>
			<a href="https://steamcommunity.com/id/elisttm/"><span style="background:url(/static/img/socials.png) -93px 0"></span></a>
			<a href="https://github.com/elisttm/"><span style="background:url(/static/img/socials.png) -124px 0"></span></a>
		</div>
	<br>
		<img src="/static/img/88x31/elisttmspace.gif" alt="" width="88" height="31">
	</div>
	
	<img src="/static/img/silly/computer.gif" alt="" class="mv" width="100" height="100" loading="lazy"/>

	<div class="buttons">
		<a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-32899-f3" rel="noopener"><img src="/static/img/88x31/guestbook.gif" alt=""/></a>
		<img src="/static/img/88x31/paws.gif" alt=""/>
		<a href="https://neocities.org/"><img src="/static/img/88x31/neocities-org.gif" alt=""/></a>
		<a href="https://png103.neocities.org"><img src="/static/img/88x31/png103.gif" alt=""/></a>
		<a href="https://machine-cat.space/"><img src="/static/img/88x31/machinecat.gif" alt=""/></a>
		<a href="https://sadgrl.online/"><img src="/static/img/88x31/sadgrlonline.gif" alt=""/></a>
		<a href="https://kuting.neocities.org/"><img src="/static/img/88x31/kutiiing8831.gif" alt=""/></a>
		<a href="https://swiftyshq.neocities.org/"><img src="/static/img/88x31/aff3.gif" alt=""/></a>
		<a href="https://uncannyvalley.neocities.org/"><img src="/static/img/88x31/uncanny.gif" alt=""/></a>
		<a href="https://tcrf.net/"><img src="/static/img/88x31/tcrf.gif" alt=""/></a>
		<a href="https://ermel.org/handcoded/"><img src="/static/img/88x31/handcoded.gif" alt=""/></a>
		<img src="/static/img/88x31/w3schools.gif" alt=""/>
		<img src="/static/img/88x31/webdesign.gif" alt=""/>
		<img src="/static/img/88x31/made_with_windows.gif" alt=""/>
		<img src="/static/img/88x31/linux-p.gif" alt=""/>
		<img src="/static/img/88x31/anybrow.gif" alt=""/>
		<img src="/static/img/88x31/www.gif" alt=""/>
	</div>

		<a href="https://512kb.club/#100"><img src="/static/img/88x31/512.png" alt=""/></a>

	<br><p class="yesterweb">
		<a href="https://webring.yesterweb.org/noJS/index.php?d=rand&url=https://elisttm.space/">Random</a> // 
		<a href="https://webring.yesterweb.org/noJS/index.php?d=prev&url=https://elisttm.space/">&lt;&lt;</a>
		<a href="https://yesterweb.org/webring/">Yesterweb</a>
		<a href="https://webring.yesterweb.org/noJS/index.php?d=next&url=https://elisttm.space/">&gt;&gt;</a> //
		<a href="https://yesterweb.org/webring/members.html">Members</a>
	</p>
		
{% endblock %}