{% extends "base.html" %}

{% set version = "1.6.1" %}

{% block title %}eli pack{% endblock %}
{% block desc %}my custom silly minecraft resource pack{% endblock %}

{% block background %}dirt.png{% endblock %}

{% block content %}

	<h1>eli pack [v{{ version }}]</h1>

	<p>my silly little minecraft resource pack</p>

	<a class="button" href="https://www.mediafire.com/folder/jp16jada9oima/eli_pack" target="_blank">go to downloads</a>

	<img src="/static/img/pack/1.jpg" alt="screenshot of the pack in use"/>
	<p><a href="https://www.planetminecraft.com/project/presentation-4081168/">map created by pixxykilljoy</a></p>

{% endblock %}