{% extends "base.html" %}

{% block title %}eli pack{% endblock %}
{% block desc %}my custom minecraft resource pack{% endblock %}

{% block background %}dirt2.png{% endblock %}

{% block content %}

	<h1>eli pack</h1>

	<p>
		this is my texture pack ive been maintaining on and off since 2018. its a combination of assets i made and some i stole from other packs i like.
		<br>the pack is designed first and foremost for the latest version of minecraft, but i have versions made specifically for pre 1.9 minecraft (labeled as "legacy")
	</p>

	<a class="btn" href="https://f.elisttm.space/u/eli/resource_pack" target="_blank">file downloads</a>

	<br><br><img src="/static/img/pack.webp" height="225" width="400" alt="basic preview of my resource pack"/>

{% endblock %}