{% extends "base.html" %}

{% block title %}sitemap{% endblock %}
{% block desc %}a comprehensive map of my website{% endblock %}

{% block background %}grid_anti.gif{% endblock %}

{% block content %}

	<h1>every page on the website</h1>
	
	<ul>
		<li><a href="/">home</a></li>
		<li><a href="/about">about me</a></li>
		<li><a href="/eli">my fursona</a></li>
		<li><a href="/servers">my game servers</a></li>
		<ul>
			<li><a href="/tf2">my tf2 server</a></li>
			<li><a href="/gmod">my gmod server</a></li>
		</ul>
		<li><a href="/bot">my discord bot</a></li>
		<li><a href="/pack">my minecraft resource pack</a></li>
	</ul>
	
{% endblock %}