{% extends "base.html" %}

{% block title %}my projects{% endblock %}
{% block desc %}my silly personal projects{% endblock %}

{% block background %}stars4ever.gif{% endblock %}

{% block content %}

	<h1>my server</h1>
		<p>
			ive been running a personal "homelab" server in my bedroom since 2020.
			i mainly use it for a plethora of <a href="/servers">game servers</a> and web servers, like this one!
			a collection of scripts i use to manage my server can be found <a href="https://github.com/elisttm/server-utils">here.</a>
		<p>
	<img src="/static/img/neofetch.png" alt="neofetch from 1-22-2025" width="415" height="138">

	<h1>websites</h1>
		<p>all of these were made in python + quart as a backend proxied with caddy (i love python)</p>
	<ul>
		<li>elisttm.space (<a href="https://github.com/elisttm/elisttm.space">github</a>)</li>
			this is a homepage for my contact info and projects<br><br>

		<li><a href="https://featherk1ss.art">featherk1ss.art</a> (<a href="https://github.com/elisttm/featherk1ss.art">github</a>)</li>
			this is a homepage and art gallery i made for my partner<br><br>

		<li><a href="https://f.elisttm.space/u/eli">my fileserver</a> (<a href="https://github.com/elisttm/fileserver">github</a>)</li>
			a lightweight and simple multi-user fileserver i made
	</ul>

{% endblock %}
