{% extends "base.html" %}

{% block title %}my game servers{% endblock %}
{% block desc %}links and information for my game servers{% endblock %}

{% block background %}code.gif{% endblock %}

{% block content %}

	<h1>my game servers</h1>

    <p>these are a few public servers i host on my own hardware for ease of access</p>

    <h2>team fortress 2</h2>
    <a href="https://www.gametracker.com/server_info/play.elisttm.space:27016/" target="_blank"><img src="https://cache.gametracker.com/server_info/73.207.108.187:27016/b_350_20_473a1f_171208_ffffff_000000.png" width="350" height="20" alt=""/></a>
    <br>
        <a class="button" href="/tf2">server info</a>
        <a class="button" href="steam://connect/73.207.108.187:27016">connect to server</a>
    
    <br><br>

    <h2>garrys mod</h2>
    <a href="https://www.gametracker.com/server_info/play.elisttm.space:27015/" target="_blank"><img src="https://cache.gametracker.com/server_info/73.207.108.187:27015/b_350_20_323957_202743_ffffff_000000.png" width="350" height="20" alt=""/></a>
    <br>
        <a class="button" href="/gmod">server info + addons</a>
        <a class="button" href="steam://connect/73.207.108.187:27016">connect to server</a>
        
    <br><br>

    <p>if youd like to support any of my servers or just give me money you can do it <a href="https://ko-fi.com/elisttm">here</a> :3</p>

{% endblock %}1a150a