{% extends "base.html" %}

{% block title %}my game servers{% endblock %}
{% block desc %}info and links regarding my game servers{% endblock %}

{% block background %}code.gif{% endblock %}

{% block content %}

	<h1>my game servers</h1>

    <p>these are all my public game servers i host at home. clicking one of the below banners will connect you to the respective server automatically!</p>
    
        <br><a href="/connect/hl1"><img src="static/img/servers/banner-hl1.png?{{time}}" width="330" height="31" alt=""/></a>
        <br><a href="/connect/tf2"><img src="static/img/servers/banner-tf2.png?{{time}}" width="330" height="31" alt=""/></a>
        <br><a href="/connect/gmod"><img src="static/img/servers/banner-gmod.png?{{time}}" width="330" height="31"/></a>
        <br><a href="/connect/sandbox"><img src="static/img/servers/banner-sandbox.png?{{time}}" width="330" height="31"/></a>
    
    <br><br><br>

    <a class="button" href="/gmod">gmod server info &amp; addons</a>

    <br>


{% endblock %}