{% extends "base.html" %}

{% block title %}my game servers{% endblock %}
{% block desc %}info and links regarding my game servers{% endblock %}

{% block background %}code.gif{% endblock %}

{% block content %}

	<h1>my game servers</h1>

    <p>these are all my public 24/7 game servers i host at home. clicking any of the images below will connect you to the respective server if possible!</p>
    
    <div class="servers">
        <a href="/connect/hldm"><img src="/static/img/servers/banner-hldm.gif?{{time}}" width="330" height="31" alt=""/></a>
        <a href="/connect/tf2"><img src="/static/img/servers/banner-tf2.gif?{{time}}" width="330" height="31" alt=""/></a>
        <a href="/connect/gmod"><img src="/static/img/servers/banner-gmod.gif?{{time}}" width="330" height="31"/></a>
        <a href="/connect/sandbox"><img src="/static/img/servers/banner-sandbox.gif?{{time}}" width="330" height="31"/></a>
    </div>

    <a class="btn" href="/gmod">gmod server info &amp; addons</a><br>

{% endblock %}