{% extends "base.html" %}

{% block background %}multi175.jpg{% endblock %}
{% block title %}sona{% endblock %}
{% block og_title %}my sona{% endblock %}
{% block og_desc %}epic sauce fursona{% endblock %}

{% block content %}

<h1>eli sona</h1>

<p>my new ref is still in progress so use these silly arts for the time being (click images for artists)</p>

<a href="https://twitter.com/cxtcvlt"><img height="180px" src="/static/media/eli/tempref/blake.jpg"/></a>
<a href="https://twitter.com/minisodaparty"><img height="180px" src="/static/media/eli/tempref/amber.jpg"/></a>
<a href="https://twitter.com/dreamtdebris"><img height="180px" src="/static/media/eli/tempref/mars.jpg"/></a>
<a href="https://twitter.com/featherk1ss"><img height="180px" src="/static/media/eli/tempref/miles.jpg"/></a>

{% endblock %}