{% extends "base.html" %}

{% block background %}multi175.gif{% endblock %}
{% block title %}fursona{% endblock %}
{% block desc %}reference images for my very silly sona{% endblock %}

{% block content %}

	<h1>my awesome fursona</h1>

	<p>click images for artists!!!! i know i dont have an actual ref sheet here but i like these images a lot so im using them</p>

		<a href="https://twitter.com/featherk1ss"><img height="260" src="/static/img/eli/milesref.png" alt="art by miles"/></a>
		<a href="https://twitter.com/cxtcvlt"><img height="260" src="/static/img/eli/blake2.jpg" alt="art by blake"/></a>
		<a href="https://twitter.com/minisodaparty"><img height="260" src="/static/img/eli/amber.png" alt="art by amber"/></a>
	<br>
		<a href="https://twitter.com/i/status/1450597148324769795"><img height="250" src="/static/img/eli/blake.png" alt="art by blake again"/></a>
		<a href="https://twitter.com/dreamtdebris"><img height="250" src="/static/img/eli/mars.jpg" alt="art by mars"/></a>

{% endblock %}