{% extends "base.html" %}

{% block background %}multi175.jpg{% endblock %}
{% block title %}sona{% endblock %}
{% block og_title %}my sona{% endblock %}
{% block og_desc %}my silly sona{% endblock %}

{% block content %}

	<h1>eli sona</h1>

	<p>click images for artists!!!!</p>
		
	<a href="https://twitter.com/i/status/1499433019643338755"><img height="240px" src="/static/media/eli/morgref.png" alt="art by morg" class="imgmargin"/></a>
	<a href="https://twitter.com/cxtcvlt"><img height="240px" src="/static/media/eli/blakebirthday.jpg" alt="art by blake" class="imgmargin"/></a>
	<a href="https://twitter.com/minisodaparty"><img height="240px" src="/static/media/eli/amber.jpg" alt="art by amber" class="imgmargin"/></a>

	<br>

	<a href="https://twitter.com/i/status/1450597148324769795"><img height="180px" src="/static/media/eli/blake.jpg" alt="art by blake again" class="imgmargin"/></a>
	<a href="https://twitter.com/dreamtdebris"><img height="180px" src="/static/media/eli/mars.jpg" alt="art by mars" class="imgmargin"/></a>

{% endblock %}